html,
body {
  height: 100%;
  margin: 0;
}
* {
  font-family: sans-serif;
}

.notes_container {
  display: flex;
  height: 100%;
}

.notes_sideview {
  border-right: 2px solid #dddddd;
  flex-shrink: 0;
  overflow-y: auto;
  padding: 1em;
  width: 300px;
}

.add_notes {
  background: #008cba;
  border: none;
  border-radius: 7px;
  color: #ffffff;
  cursor: pointer;
  font-size: 1.25em;
  font-weight: bold;
  margin-bottom: 1em;
  padding: 0.75em 0;
  width: 100%;
}

.add_notes:hover {
  background: #389bd9;
}

.notes_list_items {
  background: #eeeeee;
  border-radius: 7px;
  font-weight: bold;
  cursor: pointer;
}

.notes_view_title,
.notes_view_body {
  padding: 10px;
}

.notes_view_title {
  font-size: 1.2em;
}

.notes_view_body {
  padding: 0 10px;
}

.notes_view_updates {
  color: #aaaaaa;
  font-style: italic;
  text-align: right;
  padding: 5px;
  font-size: 12px;
}

.notes_preview {
  display: flex;
  flex-direction: column;
  padding: 2em 3em;
  flex-grow: 1;
}

.notes_title,
.notes_body {
  border: none;
  outline: none;
  width: 100%;
}

.notes_title {
  font-size: 3em;
  font-weight: bold;
}

.notes_body {
  flex-grow: 1;
  font-size: 1.2em;
  line-height: 1.5;
  margin-top: 2em;
  resize: none;
}
