/* Custom scrollbar css */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: cadetblue #dfe9eb;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 10px;
  width: 10px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #dfe9eb;
}

*::-webkit-scrollbar-track:hover {
  background-color: #dfe9eb;
}

*::-webkit-scrollbar-track:active {
  background-color: #dfe9eb;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: cadetblue;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: cadetblue;
}

*::-webkit-scrollbar-thumb:active {
  background-color: cadetblue;
}

/* custom scrollbar ended */

html,
body {
  height: 100%;
  margin: 0;
  font-family: "Comic Neue", cursive;
  /* font-family: "Lato", sans-serif; */
  /* font-family: "Open Sans", sans-serif; */
  /* font-family: "Roboto", sans-serif; */
}
* {
  font-family: "Comic Neue", cursive;
  background-color: #a5c9ca;
}

.notes_container {
  display: flex;
  height: 100%;
  /* background-color: cadetblue; */
}

#add_note_text {
  text-align: center;
  font-size: 1.5rem;
}

#bookmarkIcons {
  background-color: ghostwhite;
}

#regular_bookmark {
  background-color: ghostwhite;
}

#regular_bookmark:hover {
  background: linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
  background-color: #bab1ba;
}

#regular_bookmark:active {
  position: relative;
  top: 1px;
}

.notes_qty_all_bookmark {
  display: flex;
  justify-content: space-between;
}

.total_bookmark_icon {
  height: 30px;
}

#totalNotesQty::after {
  content: " Notes";
  padding-left: 5px;
}

.notes_sideview {
  border-right: 2px solid #dddddd;
  flex-shrink: 0;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 2em 1em 1em 1em;
  width: 300px;
}

.add_notes_btn {
  box-shadow: 3px 4px 0px 0px #0a4087;
  background: linear-gradient(to bottom, #275da6 5%, #4b78b2 100%);
  background-color: #04387d;
  border-radius: 18px;
  border: 1px solid #183e71;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 7px 25px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #132d50;
}

.add_notes_btn:hover {
  background: linear-gradient(to bottom, #277ae8 5%, #2e5e9d 100%);
  background-color: #04387d;
}
.add_notes_btn:active {
  position: relative;
  top: 1px;
}

.fa-circle-half-stroke {
  color: black;
  font-size: 25px;
  position: relative;
  right: 35px;
}

.search_box {
  display: flex;
  align-items: center;
  border-radius: 18px;
  margin-bottom: 20px;
  padding-right: 20px;
  gap: 8px;
  background-color: white;
  box-shadow: 5px 5px 9px 0 rgb(0 0 0 / 25%),
    -8px -8px 12px 0 rgb(255 255 255 / 30%);
}

#search_notes {
  width: 85%;
  height: 35px;
  border: none;
  outline: none;
  position: relative;
  left: 12px;
  border-radius: 20px;
  background-color: white;
}

.search_box > .fa-magnifying-glass {
  padding-left: 13px;
  color: lightgray;
  border-radius: 15px;
  background-color: white;
}

.add_notes:hover {
  background: #389bd9;
}

.notes_list_items {
  border-radius: 7px;
  border: 1px solid lightgray;
  font-weight: bold;
  margin-top: 15px;
  height: 8rem;
  background: #f7f9f7;
  box-shadow: 7px 7px 9px 0 rgb(0 0 0 / 25%),
    -8px -8px 12px 0 rgb(255 255 255 / 30%);
}

.notes_list_items:hover {
  cursor: pointer;
}

.notes_view_title,
.notes_view_body {
  padding: 10px;
  background: inherit;
}

.notes_view_title {
  font-size: 1.2em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-radius: 12px;
}

.notes_view_body {
  padding: 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: small;
  font-weight: 100;
}

.darkMode_icon {
  font-size: 35px;
}

.darkMode_icon:active {
  position: relative;
  top: 2px;
}

.darkMode_icon_edit_btn {
  display: flex;
  align-items: center;
  gap: 50px;
}

.edit_button_div_class {
  background-color: ghostwhite;
}

.delete_button_div_class {
  background-color: ghostwhite;
}

.edit_btn {
  font-size: 14px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #e1e2ed;
  background: none;
}

.edit_btn:hover {
  background: linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
  background-color: #bab1ba;
}

.edit_btn:active {
  position: relative;
  top: 1px;
}

.delete_btn {
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #e1e2ed;
  background: none;
}

.delete_btn:hover {
  background: linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
  background-color: #bab1ba;
}

.delete_btn:active {
  position: relative;
  top: 1px;
}

.edit_delete {
  display: flex;
  flex-direction: row;
  gap: 12px;
  position: relative;
  right: 7px;
  float: right;
  padding: 4px 0 0 10px;
  background: inherit;
}

.notes_view_updates {
  font-style: italic;
  font-size: 12px;
  font-weight: 100;
  background: inherit;
}

.note_mark_date {
  display: flex;
  justify-content: space-around;
  position: relative;
  gap: 195px;
  top: 48px;
  align-items: center;
  background-color: inherit;
}

.notes_preview {
  display: flex;
  flex-direction: column;
  padding: 2em;
}

.logo_title {
  display: flex;
  justify-content: center;
  gap: 35px;
}

#heading_btn {
  display: inline-flex;
  column-gap: 43rem;
  margin-bottom: 50px;
}
#heading_btn,
img {
  height: 48px;
}

#heading_btn,
h1 {
  margin-top: 0px;
  font-size: 40px;
}

.edit_btn_icn {
  padding-left: 0px;
  color: white;
  font-size: 20px;
  background: none;
}

.notes_title,
.notes_body {
  border: 1px solid lightgray;
  padding: 15px;
  border-radius: 10px;
  outline: none;
  width: 100%;
  background: #f7f9f7;
  box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
}

.notes_title {
  font-size: 2em;
  font-weight: bold;
}

.notes_body {
  flex-grow: 1;
  font-size: 1.2em;
  line-height: 1.5;
  margin-top: 2em;
  resize: none;
}

/* Dark theme started  */

.darkMode * {
  font-family: "Comic Neue", cursive;
  background-color: #222f3e;
  color: white;
}

.darkMode .search_box {
  box-shadow: -1px -1px 10px -4px white, 2px 2px 29px -5px black;
}

.darkMode .search_box > .fa-magnifying-glass {
  padding-left: 13px;
  color: lightgray;
  border-radius: 15px;
  background-color: inherit;
}

.darkMode #search_notes {
  background-color: inherit;
}

.darkMode #bookmarkIcons {
  background: inherit;
}

.darkMode #regular_bookmark {
  background: inherit;
}

.darkMode .edit_button_div_class {
  background: inherit;
}

.darkMode .delete_button_div_class {
  background: inherit;
}

.darkMode .add_notes_btn {
  box-shadow: 3px 4px 0px 0px #0a4087;
  background: linear-gradient(to bottom, #275da6 5%, #4b78b2 100%);
  background-color: #04387d;
  border-radius: 18px;
  border: 1px solid #183e71;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 7px 25px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #132d50;
}

.darkMode .add_notes_btn:hover {
  background: linear-gradient(to bottom, #277ae8 5%, #2e5e9d 100%);
  background-color: #04387d;
}

.darkMode .add_notes_btn:active {
  position: relative;
  top: 1px;
}

.darkMode .edit_btn_icn {
  padding-left: 0px;
  color: white;
  font-size: 20px;
  background: none;
}

.darkMode .fa-circle-half-stroke {
  color: white;
  font-size: 25px;
  position: relative;
  right: 35px;
}

.darkMode .notes_title,
.notes_body {
  /* border: none; */
  padding: 15px;
  border-radius: 10px;
  outline: none;
  width: 100%;
  box-shadow: 7px 7px 9px 0 rgb(0 0 0 / 25%),
    2px 2px 3px 0 rgb(255 255 255 / 30%);
}

.darkMode .notes_list_items {
  box-shadow: 7px 7px 9px 0 rgb(0 0 0 / 25%),
    2px 2px 3px 0 rgb(255 255 255 / 30%);
}
