html,
body {
  height: 100%;
  margin: 0;
}
* {
  font-family: sans-serif;
}

.notes_container {
  display: flex;
  height: 100%;
  /* background-color: cadetblue; */
}
#add_note_text {
  color: silver;
  text-align: center;
  font-size: 1.5rem;
}
#totalNotesQty::after {
  content: " Notes";
  padding-left: 5px;
}
.notes_sideview {
  border-right: 2px solid #dddddd;
  flex-shrink: 0;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 3em 1em 1em 1em;
  width: 300px;
}

.add_notes {
  background: #008cba;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  height: 65px;
  width: 65px;
}

/* #add_btn::before {
} */
.fa-circle-half-stroke {
  color: black !important;
  font-size: 25px;
  position: relative;
  right: 35px;
}
.search_box {
  display: flex;
  align-items: center;
  border-radius: 18px;
  margin-bottom: 35px;
  padding-right: 20px;
  gap: 8px;
  box-shadow: 0 1px 6px 0 rgba(201, 201, 201);
  background-color: white;
}
#search_notes {
  width: 85%;
  height: 35px;
  border: none;
  outline: none;
}
.fa-solid {
  padding-left: 13px;
  color: lightgray;
}
/* .search-icon {
  height: 20px;
  padding-left: 12px;
} */
.add_notes:hover {
  background: #389bd9;
}

.notes_list_items {
  background: #eeeeee;
  border-radius: 7px;
  font-weight: bold;
  margin-top: 15px;
  transition: 0.5s;
  background-color: whitesmoke;
  height: 8rem;
}

.notes_list_items:hover {
  cursor: pointer;
  /* transform: scale(1.05); */
}

.notes_view_title,
.notes_view_body {
  padding: 10px;
}

.notes_view_title {
  font-size: 1.2em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.notes_view_body {
  padding: 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: small;
  font-weight: 100;
  color: gray;
}

.edit_delete {
  display: flex;
  flex-direction: row;
  gap: 12px;
  position: relative;
  right: 12px;
  float: right;
  padding-top: 8px;
  color: lightslategray;
  /* height: 30px;
  width: 30px; */
}

.edit_delete > i:hover {
  background-color: lightgrey;
  border-radius: 50%;
}

.notes_view_updates {
  color: #aaaaaa;
  font-style: italic;
  /* position: relative;
  right: 12px;
  top: 50px; */
  font-size: 12px;
  font-weight: 100;
  /* float: right; */
}

.note_mark_date {
  display: flex;
  justify-content: space-around;
  position: relative;
  gap: 195px;
  top: 48px;
  align-items: center;
}

.notes_preview {
  display: flex;
  flex-direction: column;
  padding: 2em 3em;
  flex-grow: 1;
}

#heading_btn {
  display: inline-flex;
  column-gap: 32rem;
}

#heading_btn,
h1 {
  margin-top: 0px;
  font-size: 40px;
}

.notes_title,
.notes_body {
  border: 1px solid lightgray;
  padding: 15px;
  border-radius: 10px;
  outline: none;
  width: 80%;
}

.notes_title {
  font-size: 2em;
  font-weight: bold;
}

.notes_body {
  flex-grow: 1;
  font-size: 1.2em;
  line-height: 1.5;
  margin-top: 2em;
  resize: none;
}
